---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Lineage - Core Self Reiki">
  <main class="py-20 text-center">
    <h1 class="text-4xl font-serif">Lineage</h1>
    <p class="mt-4">Page under construction.</p>
  </main>
</Layout>
